services:
  service1:
    build:
      context: /home/nico/Escritorio/ansible/ansible-avanzado/ejercicio-microservicios/services/service1 
    image: myservice1:latest

  service2:
    build:
      context: /home/nico/Escritorio/ansible/ansible-avanzado/ejercicio-microservicios/services/service2
    image: myservice2:latest

